.CompanyCategoryList {

	table {
		tr {
			&:nth-child(2n) {
				background-color: #fff;
			}

			td {
				padding: 10px 8px;
				border: none;

				&:nth-child(1) {
					width: 5rem;
				}
				&:nth-child(3) {
					padding-top: 1.3rem;
					padding-right: 0.4rem;
					width: 3rem;
				}
				&:nth-child(4) {
					padding-top: 1.3rem;
					width: 3rem;
				}
			}
		}

		.details {
			padding-top: 1.2rem;

			.name {

			}
		}
	}

}