.SearchBar {
	float: left;
	margin-top: 0.2rem;
	margin-left: 1.5rem;		
	padding: 0.3rem 1.2rem;
	font-weight: 300;
	background-color: #f8f8f9;
	border-radius: 2rem;

	input {
		margin-left: 0.8rem;
		width: 12rem;
		background-color: transparent;
		border: none;
		outline: none;
	}

}